*.crt
*.csv
*.env
*.key
*.whl
*.zip
*.sqlite3
*.egg-info
*.spec
firewalls.yaml
firewalls.yml
__pycache__/
.venv
uv.lock
logs/
secrets.toml
/pyproject.toml
node_modules
package-lock.json
uv.lock
/gccli.*.exe