__pycache__/
.venv
*build/
*dist/
logs/
*.crt
*.csv
*.env
*.key
*.whl
*.zip
*.sqlite3
*.egg-info
*.spec
firewalls.yaml
firewalls.yml
uv.lock
secrets.toml
/pyproject.toml
node_modules
package-lock.json
uv.lock
/gccli.*.exe