"hostname", "port", "username", "password", "verify_tls"
example-host.network.com,,,, false
example-host2.network.com,,, secret_value_abc
example-host3.network.com,, firewalladmin, secret_value_def
example-host4.network.com, 4444, firewalluser, secret_value_xyz, false