altair==5.3.0
#==4.2.2
attr==0.3.2
hvac==2.3.0
json_fix==1.0.0

pandas
#==2.2.3

prettytable==3.11.0

pydantic 
#==2.9.2

pytest==8.0.1
python-dotenv==1.0.1

pyyaml==6.0.1
#==6.0.2

st_mui_table==0.0.6
streamlit==1.37.1
streamlit_autorefresh==1.0.1
streamlit_pills==0.3.0
typing_extensions==4.11.0
#==4.12.2
urllib3==2.2.1
#==2.2.2
